html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    background: #FFFAED;
}

.newTitle {
    text-align: center;
    top: 0;
}

.myNav {
    width: 100%;
}

.myNav ul {
    list-style: none;
    display: inline;
    text-align: center;
    margin: 0;
    padding: 0;

}

.myLi {
    display: inline;
    margin: 0 2px;
}


.normalBorderCommon {
    /* background: rgb(0, 153, 211); */
    position: absolute;
    left: 50%;
    overflow: hidden;
    top: 50%;
    transform: translate(-50%, -50%);
    /*rotate(30deg); */
    overflow-x: hidden;
    background: url(./pics/normalBackground.png);
    background-size: 100% 100%;
    background-repeat: no-repeat
}

/* .ExpandedBorderCommon {} */

.commonShuffle {
    position: relative;
    font-size: 20px;
    width: 25%;
    margin: 0 5%;
}

.commonOpsbutton {
    position: relative;
    width: 25%;
    font-size: 20px;
}

.menuclosebutton {
    position: absolute;
    bottom: 5%;
    left: 50%;
    height: 40px;
    width: 80%;
    right: 50%;
    transform: translate(-50%, 0%);
    /* position: relative; */
    /* float: left; */
    /* margin-top: 60px; */
    font-size: 20px;
}

h1 {
    padding-bottom: 0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.links {
    padding-bottom: 0;
    float: center;
    /* background: red; */
    font-size: 18px;
    margin-bottom: 0;
}

h2 {
    padding-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}


.chit-number-base {
    display: block;
    font-weight: bold;
    font-size: 1.18em;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Teko', sans-serif;
}

.prob-dots-base {
    padding: 0;
    margin: 0;
    letter-spacing: -.5px;
    padding-right: 1px;
    /* letter-spacing: -2px;
    padding-right: 2px; */
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
}


 .newsettingswrap {
    /* background: purple; */
    text-align: right;
    position: relative;
    width: 80%;
    left: 10%;
}

.hex-normal {
    height: 17.5%;
    width: calc(17.5% * 0.866);
    background: rgb(71, 70, 70);
    position: absolute;
    transform: translate(-50%, -50%);
    background-size: auto 100%;
    background-repeat: no-repeat
}

.hex-base {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex-expanded {
    height: 16%;
    width: calc(16% * 0.866);
    background: rgb(71, 70, 70);
    position: absolute;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-size: auto 100%;
    background-repeat: no-repeat
}

.circle-base {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(40% * 1.73205 / 2);
    width: 40%;
    border: 1px solid black;
    background: rgb(227, 197, 134);
    border-radius: 50%;
}

.circle-normal {}

.circle-expanded {
    transform: translate(-50%, -50%) rotate(-90deg);
}



.high-prob {
    color: red;
}

.high-prob-normal {
    color: red;
}

/* .theBetterTitle {
    font-size: 5px;
    padding: 0;
    margin: 0;
}

.catanTitle {
    font-size: 5px;
    padding: 0;
    margin: 0;
}

.generatorTitle {
    font-size: 5px;
    padding: 0;
    margin: 0;
} */


/* mess with tile width calc or no repeat on the tiles */

.sheep {
    background: url(./pics/sheep.png) no-repeat center;
    background-size: 99% 99%;
}

.wheat {
    background: url(./pics/wheat.png) no-repeat center;
    background-size: 99% 99%;
}

.wood {
    background: url(./pics/wood.png) no-repeat center;
    background-size: 99% 99%;

}

.brick {
    background: url(./pics/brick.png) no-repeat center;
    background-size: 99% 99%;
}

.ore {
    background: url(./pics/ore.png) no-repeat center;
    background-size: 99% 99%;
}


.desert {
    background: url(./pics/desert.png) no-repeat center;
    background-size: 99% 99%;
}

.port {
    background: url(https://catan.bunge.io/colorBlocked/wood-port.png);
    background-size: auto 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height:vw; */
    width: 6vw;
    background-size: auto 100%;
    background-repeat: no-repeat
}


.desert-chit {
    background: transparent;
    border: transparent;
}




.donatebutton {
    position: absolute;
}

.menuToggle {
    visibility: hidden;
}
#overlay {
    position: fixed; /* or 'absolute' if your page doesn't scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 50; /* Make sure this is below the popup's z-index */
}

.hidden {
    display: none;
}


.settingViewToggle {
    visibility: hidden;
}



.settingswrap {
    /* background: purple; */
    text-align: right;
    position: relative;
    width: 80%;
    left: 10%;
    height: 250px;
}

.mylabel {
    float: left;

}

.menu-row {
    height: 35px;
}

.mySelect {
    height: 32px;

    text-align: center;
}

.checkmark {
    height: 25px;
    position: absolute;
    padding: 100px;
}

input[type="checkbox"] {

    margin: 0;
    font: inherit;
    color: currentColor;
    width: 22px;
    height: 22px;
    border: 3px solid currentColor;
}


#popmenu {
    width: 350px;
    height: 350px;
    text-align: center;
    background: #E3C586;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15.5%;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 2px 15px 0 black;
    z-index: 100;
    border-radius: 10px;

    /* animation: popmenu 0.5s; */
}

/* @keyframes popmenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

#inline-options {
    margin-top:10px;
    width: 100%;
    position: relative;

}

.description {
    margin-left: 15px;
    margin-right: 15px;
}

.resource-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}
.resource-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.menu-row input[type="number"] {
    width: 48px;
}